.wrapper {
    width: 600px;
    margin: 0 auto;
}

.btnWrapper {
    text-align: center;
}

.titleWrapper {
    text-align: center;
}

.btnWrapper {
    text-align: center;
}

.imgWrapper {
    position: relative;

}

.centralImageWrapper {
    
}

.imgImage {
    border-radius: 10px;
    max-width: 600px;
}

.imgTitleWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(244, 244, 244, 0.9);
    font-size: 3em;
}